.navbar-brand {
  font-size: 30pt;
}

.alert {
  opacity: 0%;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.1s;
}

ol {
    list-style: none;
}

ol > li {
  border: 1px gray;
  margin: 0.5em 0 0.5em 0;
}

#rule {
  margin: 1em 0 1em 0;
}

.messageText {
  font-size: 14pt;
}

.messageTime {
  font-size: 8pt;
  margin-left: 2em;
}

.messageDivTitle {
  text-align: center;
}
.messageDivTitleText {
  height: 100%;
  font-size: 20pt;
}

#messageInputDiv {
  margin-left: 2em;
}

#combinedDiv {
  padding: 0 0 25px 2em;
  max-width: 92%;
  max-height: 60vh;
  overflow-y: scroll;
}

#messageInput {
  background-color: black;
  color: white;
  border: 1px line white;
}

#main-map {
  height: 65vh;
}

#tag-info-pane {
  background-color: black;
  mask-image: url("bubble.svg#bubbleClip");
  mask-size: contain;
  mask-repeat: no-repeat;
  padding: 7% 0% 5% 0%;
  color: white;
}

#mission-statement {
  padding: 0 0 25px 2em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #combinedDiv {
    max-width: 540px;
  }
}

@media (min-width: 1200px){
  #combinedDiv {
    max-width: 540px;
  }
}

@media (max-width: 991.98px) {
  #tag-info-pane {
    min-height: 75vh;
    mask-image: url("bubble_below.svg#bubbleClip");
  }
}
